@import 'normalize';

$screen-xl-min: 1200px;
$screen-lg-max: $screen-xl-min - 1;
$screen-lg-min: 992px;
$screen-md-max: $screen-lg-min - 1;
$screen-md-min: 768px;
$screen-sm-max: $screen-md-min - 1;
$screen-sm-min: 576px;
$screen-xs-max: $screen-sm-min - 1;
$screen-xs-min: 0;

$dark-theme-text-color: #ccc;
$muted-text-color: #888;

body {
    font-size: 20px;

    @media (max-width: $screen-sm-max) {
        // font-size: 16px;
    }

    .img-responsive {
        max-width: 100%;
        height: auto;
    }

    &.sdcp {
        background-color: #ddd;
        background-image: url('/img/gray-linen-bg2.jpg');
        color: #555;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;

        @import 'buttons';
        @import 'links';

        header {
            nav.navbar {
                background-color: rgba(#fff, 0.95);
                box-shadow: 0 5px 5px rgba(#000, 0.2);
                font-size: 1.1rem;
                padding-bottom: 0;
                padding-top: 0;
                transition: background-color 0.7s;
            }
        }

        .alert-container {
            position: fixed;
            top: 10px;
            left: 0;
            right: 0;
            z-index: 2000;
            .alert {
                max-width: 800px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .content {
            background-color: #fff;
            color: #333;
            max-width: 50em;
            margin: 0 auto;
            padding-bottom: 2rem;
            box-shadow: 0 0 30px rgba(0, 0, 0, .2);
        }

        .caps {
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }

        .impact {
            font-family: 'Passion One', cursive;
        }

        .cursive {
            font-family: 'Allura', cursive;
        }

        .hide {
            display: none;
        }


        .section,
        footer {
            padding-left: 5rem;
            padding-right: 5rem;
            margin-bottom: 2rem;

            @media (max-width: $screen-md-max) {
                padding-left: 3rem;
                padding-right: 3rem;
            }
        }

        .section {
            &:first-child {
                margin-top: 0;
            }

            h2 {
                margin-top: 1rem;
                margin-bottom: 1rem;
                text-align: center;
            }

            h2.impact {
                font-size: 3rem;
            }

            h2.impact {
                color: #43a2be;
            }

            p {
                margin-left: auto;
                margin-right: auto;
                text-align: justify;

                &.center {
                    text-align: center;
                }

                &.mt2 {
                    margin-top: 2em;
                }
            }
        }

        .ruler {
            $img-url: '/img/ruler1.png';
            $img-width: 681px;
            $img-height: 123px;

            max-width: $img-width;
            width: 95%;
            height: 0;
            margin: 4rem auto 2rem;
            padding-bottom: unquote('min(10%, #{$img-height})');
            background-image: url($img-url);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            @media (max-width: $screen-xs-max) {
                padding-bottom: 15%;
            }
        }

        .header-ornament {
            $img-url: '/img/header-bg-top.png';
            $img-width: 776px;
            $img-height: 260px;
            $img-display-height: 140px;
            $relative-display-height: $img-display-height / $img-width;

            display: block;
            width: 100%;
            max-width: $img-width;
            height: unquote('calc(100vw * #{$relative-display-height})');
            max-height: $img-display-height;
            margin-left: auto;
            margin-right: auto;

            background-image: url($img-url);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center bottom;
        }

        .section.section1 {
            background-color: transparent;
            text-align: center;

            h1 {
                margin-top: 1rem;
                margin-bottom: 0;
                font-size: 4rem;
                color: #444;
                line-height: 1;
            }

            h2 {
                font-size: 2rem;
            }

            p {
                text-align: center;
            }

            .section1-content {
                position: relative;
                max-width: 50em;
                margin: 0 auto;
            }

            .cursive {
                font-size: 1.2em;
            }

            .time-left {
                color: #333;
                font-size: 1em;
                margin-top: 0;
                min-height: 1em;
                opacity: 0;

                span {
                    display: inline-block;
                    white-space: nowrap;
                }
            }

            .internal-page-links {
                margin-top: 3rem;

                * {
                    vertical-align: middle;
                }

                .btn {
                    min-width: 8em;
                    text-shadow: none;
                    display: inline-block;
                    margin: 0.5rem 1rem;
                }

                @media (max-width: $screen-sm-max) {
                    & * {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }

            .flower-border-left {
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .purchase-container,
        .donate-container,
        .raffle-ticket-prices {
            margin: 0 auto;
            max-width: 35em;
            text-align: left;
        }

        .purchase-container,
        .donate-container {
            background-color: #fff;
            border: 1px solid #eee;
            border-radius: 1em;
            box-shadow: 5px 5px 25px rgba(#bbb, 0.3);
            margin-top: 4rem;
            margin-bottom: 4rem;
            padding: 2em;

            @media (max-width: $screen-sm-max) {
                margin-left: -1.5em;
                margin-right: -1.5em;
                margin-top: 1em;
                padding: 1.75em;
            }

            fieldset {
                padding: 0;
            }

            legend,
            label {
                font-size: inherit;
                font-weight: bold;
            }

            input[type='text'],
            input[type='number'] {
                max-width: 26em;
            }

            .input-group {
                input[type='number'] {
                    max-width: 10em;
                }
            }

            .form-group {
                margin-bottom: 1.5em;
            }

            .form-check {
                * {
                    vertical-align: top;
                }

                margin-bottom: 1em;

                &:last-child {
                    margin-bottom: 0.5em;
                }

                label {
                    font-weight: normal;
                }

                small {
                    color: $muted-text-color;
                    display: block;
                    font-style: italic;
                }
            }

            .validation-error {
                color: #a33;
                display: none;
                font-size: 1.2em;
                margin-top: 1em;
                text-align: center;
            }

            .purchase-thank-you {
                color: #3a3;
                display: none;
                font-size: 1.4em;
                margin-top: 1em;
                text-align: center;
            }

            .submit-button {
                margin: 0 auto;
                text-align: center;

                button {
                    min-width: 10em;
                }
            }
        }

        .purchase-container {
            .ticket-quantity {
                max-width: 5em;
            }

            .form-group-in-honor-of {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s;

                &.active {
                    max-height: 100px;
                }
            }
        }

        .purchase-container-tickets {
            .early-bird-1-offer,
            .early-bird-2-offer {
                display: none;
            }

            &.early-bird-1,
            &.early-bird-2 {
                .standard-offer {
                    display: none;
                }
            }

            &.early-bird-1 .early-bird-1-offer {
                display: inline;
            }

            &.early-bird-2 .early-bird-2-offer {
                display: inline;
            }
            // .purchase-early-bird strong {
            //     font-weight: 500;
            // }
        }

        .section2 {
            text-align: center;

            .raffle-ticket-prices {
                li {
                    margin-bottom: 0.5em;
                }

                .raffle-savings {
                    font-style: italic;
                    font-size: 0.8em;
                    color: $muted-text-color;
                }
            }

            .location {
                text-align: center;

                iframe {
                    margin-top: 1.5em;
                    max-width: 100%;
                    border: 8px solid #ddd;
                    border-radius: 1em;
                }
            }
        }

        .section3 {
            text-align: center;

            .donate-by-mail {
                display: inline-block;
            }

            .mailing-address {
                display: inline-block;
                text-align: left;
                margin-top: 0.75em;
                margin-left: 2em;
                padding-left: 1em;
                border-left: 3px solid #888;
            }
        }

        .section4 {
            text-align: center;

            p {
                margin-top: 2em;
                margin-bottom: 2em;
                text-align: center;
            }

            .btn {
                margin: 0.5em;

                .fa {
                    font-size: 1.5em;
                    margin-right: 0.1em;
                    vertical-align: text-bottom;
                }
            }
        }

        .section-pledge-sheets {
            text-align: center;

            ul {
                margin-left: auto;
                margin-right: auto;
                text-align: left;
                width: 8em;
            }
        }

        footer {
            color: #555;
            font-size: 0.8em;
            text-align: center;
            margin-top: 3rem;
            padding-top: 3rem;
            padding-bottom: 3rem;
            margin-top: 0;

            a,
            a:visited,
            a:link {
                color: #36849b;
            }

            .social-links {
                margin: 0;
                padding: 0;

                a {
                    margin: 0 0.2em;
                }

                .fa {
                    display: inline-block;
                    margin: 1em 0.5em;
                    font-size: 1.8em;
                }
            }
        }
    }
}
