.bubbles {
    background-color: #000;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 1em;
    perspective: 100cm;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

    .bubble {
        $diameter: 30px;

        background-color: rgba(#ff5, .4);
        border-radius: $diameter / 2;
        box-shadow: 0 0 3px 3px #ff5;
        filter: blur(2px);
        height: $diameter;
        position: absolute;
        width: $diameter;

        &:nth-child(1n) { @extend .fade-2s; }
        &:nth-child(2n) { @extend .fade-3s; }
        &:nth-child(3n) { @extend .fade-4s; }
        &:nth-child(4n) { @extend .fade-5s; }

        &:nth-child(1)  { right:  20px; top: -10px; }
        &:nth-child(2)  { right: 340px; top:  -3px; }
        &:nth-child(3)  { right: -20px; top: 100px; }
        &:nth-child(4)  { right:  50px; top:  50px; }
        &:nth-child(5)  { right:  70px; top:  40px; }
        &:nth-child(6)  { right: 120px; top: 100px; }
        &:nth-child(7)  { right:  80px; top: 160px; }
        &:nth-child(8)  { right:  50px; top:  70px; }
        &:nth-child(9)  { right:  -5px; top:  80px; }
        &:nth-child(10) { right:   5px; top:  20px; }
        &:nth-child(11) { right: 200px; top:  50px; }
        &:nth-child(12) { right: 185px; top:  30px; }
        &:nth-child(13) { right: 105px; top: -20px; }
        &:nth-child(14) { right:  15px; top:  20px; }
        &:nth-child(15) { right:  -5px; top: 200px; }
        &:nth-child(16) { right:  25px; top: 120px; }
        &:nth-child(17) { right: 245px; top:  20px; }
        &:nth-child(18) { right:  65px; top: 185px; }
        &:nth-child(19) { right: -15px; top: 210px; }
        &:nth-child(20) { right: 165px; top: 120px; }

        &:nth-child(21) { left:  20px; bottom: -10px; }
        &:nth-child(22) { left: 340px; bottom:  -3px; }
        &:nth-child(23) { left: -20px; bottom: 100px; }
        &:nth-child(24) { left:  50px; bottom:  50px; }
        &:nth-child(25) { left:  70px; bottom:  40px; }
        &:nth-child(26) { left: 120px; bottom: 100px; }
        &:nth-child(27) { left:  80px; bottom: 160px; }
        &:nth-child(28) { left:  50px; bottom:  70px; }
        &:nth-child(29) { left:  -5px; bottom:  80px; }
        &:nth-child(30) { left:   5px; bottom:  20px; }
        &:nth-child(31) { left: 200px; bottom:  50px; }
        &:nth-child(32) { left: 185px; bottom:  30px; }
        &:nth-child(33) { left: 105px; bottom: -20px; }
        &:nth-child(34) { left:  15px; bottom:  20px; }
        &:nth-child(35) { left:  -5px; bottom: 200px; }
        &:nth-child(36) { left:  25px; bottom: 120px; }
        &:nth-child(37) { left: 245px; bottom:  20px; }
        &:nth-child(38) { left:  65px; bottom: 185px; }
        &:nth-child(39) { left: -15px; bottom: 210px; }
        &:nth-child(40) { left: 165px; bottom: 120px; }
    }
}

@keyframes fade-opacity {
    0% {
        opacity: .8;
        transform: rotateY(-20deg);
    }

    50% {
        opacity: 1;
        transform: rotateY(0);
    }

    100% {
        opacity: .8;
        transform: rotateY(20deg);
    }
}

@mixin fade($duration) {
    animation-direction: alternate;
    animation-duration: $duration;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: fade-opacity;
}

.fade-2s { @include fade(2.131s * 2); }
.fade-3s { @include fade(3.217s * 2); }
.fade-4s { @include fade(4.363s * 2); }
.fade-5s { @include fade(5.443s * 2); }
