@import 'normalize';

* {
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body {
    background-color: #555;
    color: #fff;
    font-size: 14px;
    line-height: 1.42857;
}

.section1,
.section2,
footer {
    padding: 2em;
}

.section1 {
    @import 'bubbles';

    $text-color: #eed;

    // background-color: #000;
    color: $text-color;
    font-size: 1.5em;
    position: relative;
    text-align: center;

    .join-us {
        font-size: 1.2em;
    }

    .event-date {
        color: #000;
        font-family: 'Syncopate', sans-serif;
        font-weight: 500;
        text-shadow: 0 -1px 1px $text-color, 0 1px 1px $text-color, -1px 0 1px $text-color, 1px 0 1px $text-color, -1px -1px 1px $text-color, 1px 1px 1px $text-color, 1px -1px 1px $text-color, -1px 1px 1px $text-color;
    }

    a.btn {
        background-color: #dd5;
        color: #000;
        cursor: pointer;
        font-size: 1.2em;
        margin-top: .8em;
        padding: .5em 1.2em;
    }
}

.section2 {
    background-color: #fff;
    color: #555;
    font-size: 1.3em;
    text-align: center;

    p {
        margin-left: auto;
        margin-right: auto;
        max-width: 50em;
    }

    form, form * {
        text-align: left;
    }

    form {
        max-width: 20em;
        margin: 0 auto;
    }

    h2, h3 {
        margin-top: 3em;
    }

    .btn {

    }
}

footer {
    text-align: center;

    .social-links {
        font-size: 3em;
        margin: 0;
        padding: 0;

        a {
            color: #fff;
            margin: 0 .2em;
        }
    }
}

.caps {
    letter-spacing: .2em;
    text-transform: uppercase;
}

.cursive {
    font-family: 'Lobster', cursive;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.btn {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background-color: #555;
    background-image: none;
    // border-radius: 4px;
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

a.btn {
    text-decoration: none;
}

.btn-success {
    background-color: #3c763d;
    color: #fff;
}